.container {
  margin: 0% 8% 0% 8%;
  //background-color: var(--ion-color-primary);
  border-radius: 10px;
}

.detailImage {
  border-radius: 10px;
}

.myOverlay {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 35%;
  display: flex;
  opacity: 50%;
  background: var(--ion-color-primary);
  margin: 10%;
}

.detailBadge {
  position: absolute;
  align-items: flex-end;
  background-color: var(--ion-color-tertiary);
}

.detailDate {
  flex-basis: 100%;
  color: #fff;
  background-color: lightcoral;
}

.detailUser {
  flex-basis: 100%;
  color: #fff;
  background-color: lightseagreen;
}

.detailPublicState {
  margin-top: 6%;
  text-align: right;
}

.detailToggle {
  margin-top: 5%;
  text-align: left;
}

.detailCaptureName {
  margin-top: 5%;
  margin-left: 5%;
  text-align: left;
  padding-left: 15px;
  font-weight: bold;
  font-size: 20px;
  background-color: var(--ion-color-light);
  border-radius: 10px !important;
}

.dislikeImg {
  margin-left: 12%;
  margin-right: 22%;
  margin-top: 80%;
}

.detailPageDescription {
  background-color: var(--ion-color-light);
  border-radius: 10px !important;
  overflow: hidden;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
}

.coordinates {
  text-align: left;
  display: flex;
}

.detailButtonEdit {
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 75%;
}
.detailButtonSave {
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 50%;
}

.detailButtonDelete {
  font-size: 30px;
  color: var(--ion-color-medium);
  margin-top: 22%;
  margin-bottom: 20%;
  margin-left: 40%;
}
