.detailImage {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 2%;
}

.detailPageRow{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 5%;
  margin-bottom: 2%;
  font-weight: bold;
  font-size: large;
}