.containerRow {
  //top right bottom left
  margin: 5% 5% 5% 5% !important;
  //background-color: green;
}

.detailBadge {
  position: absolute;
  display: flex;
  bottom: 10%;
  left: 5%;
}

.detailLike {
  position: absolute;
  display: flex;
  bottom: 10%;
  right: 5%;
}

.detailImage {
  border-radius: 10px;
  height: 220px;
  max-height: 220px;
  width: 100%;
}

.myOverlay {
  width: 100%;
  position: absolute;
  top: 5%;
  display: flex;
  opacity: 80%;
}

.detailDate {
  flex-basis: 100%;
  color: #fff;
  margin-left: 5%;
  text-align: left;
}

.detailUser {
  flex-basis: 100%;
  color: #fff;
  margin-right: 10%;
  text-align: right;
}

.detailCaptureName {
  text-align: left;
  font-weight: bold;
  font-size: 18px;
  padding-left: 2%;
  background-color: var(--ion-color-light);
  border-radius: 10px !important;
}

.detailPublicState {
  text-align: right;
  padding-top: 4%;
  display: block;
  height: 100%;
}

.detailToggle {
  display: block;
  padding-top: 2%;
  width: 100%;
  flex-basis: 100%;
}

.detailPageDescription {
  background-color: var(--ion-color-light);
  border-radius: 10px !important;
  padding-left: 2%;
  padding-right: 2%;
  text-align: left;
}

.detailPageTextArea {
  height: 200px;
  width: 100%;
  resize: none;
  overflow: scroll;
}

.coordinates {
  text-align: left;
  display: flex;
}

.buttonsContainer {
  padding-top: 15%;
  margin: 0% 5% 0% 5% !important;
  display: flex;
  text-align: center;
}

.detailButtonEdit {
  flex-basis: 100%;
}
.detailButtonSave {
  flex-basis: 100%;
}

.detailButtonDelete {
  flex-basis: 100%;
  font-size: 30px;
  margin-top: 5%;
  color: var(--ion-color-medium);
}
