<ion-app>
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Detail Page</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-icon
          style="padding-right: 5px"
          size="small"
          name="arrow-back"
          (click)="back()"
        ></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form [formGroup]="detailForm">
      <ion-row class="containerRow">
        <ion-col class="imageCol">
          <ion-row class="detailBadge">
            <ion-badge color="tertiary" style="margin: 2%"
              >{{activeCapture.votes}}</ion-badge
            >
          </ion-row>
          <ion-row class="detailLike">
            <div *ngIf="activeCapture.dislikeChecked; else notCheckedDislike">
              <ion-img
                src="/assets/icon/dislike_black.png"
                (click)="checkDislike(activeCapture.idCapture)"
              ></ion-img>
            </div>
            <ng-template #notCheckedDislike>
              <ion-img
                src="/assets/icon/dislike_white.png"
                (click)="checkDislike(activeCapture.idCapture)"
              ></ion-img
            ></ng-template>
          </ion-row>
          <div>
            <img class="detailImage" src="{{activeCapture.imageUrl}}" />
            <div class="myOverlay">
              <div class="detailDate">
                {{activeCapture.date | date:'short'}}
              </div>
              <div class="detailUser">{{getUsername(activeCapture.uid)}}</div>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <!--Detail name is editable-->
      <ion-row class="containerRow">
        <ion-col size="7" class="detailCaptureName">
          <div *ngIf="editable; else elseBlock">
            <ion-input
              placeholder="Name"
              formControlName="captureNameEditable"
              [(ngModel)]="activeCapture.name"
              maxlength="15"
            >
            </ion-input>
          </div>
          <ng-template #elseBlock>
            <ion-input readonly="true">{{activeCapture.name}}</ion-input>
          </ng-template>
        </ion-col>
        <!--Detail state is editable-->
        <ion-col size="3" class="detailPublicState">
          <div *ngIf="belongsToUser">
            <ion-icon name="eye-off-outline"></ion-icon> /
            <ion-icon name="eye-outline"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="2" class="detailToggle">
          <div *ngIf="editable || belongsToUser;else elseBlockToggle">
            <ion-toggle
              formControlName="publicToggleEditable"
              color="tertiary"
              [checked]="activeCapture.publicState"
              [(ngModel)]="activeCapture.publicState"
              disabled="false"
            ></ion-toggle>
          </div>
          <ng-template #elseBlockToggle *ngIf="belongsToUser">
            <ion-toggle
              color="tertiary"
              [checked]="activeCapture.publicState"
              disabled="true"
            ></ion-toggle
          ></ng-template>
        </ion-col>
      </ion-row>
      <!--Detail description is editable-->
      <ion-row class="containerRow">
        <ion-col class="detailPageDescription">
          <div *ngIf="editable; else elseBlockDescription">
            <ion-textarea
              class="detailPageTextArea"
              placeholder="Description"
              formControlName="captureDescriptionEditable"
              readonly="false"
              [(ngModel)]="activeCapture.description"
              rows="10"
              style="height: 200px; width: 100%"
            ></ion-textarea>
          </div>
          <ng-template #elseBlockDescription>
            <ion-textarea class="detailPageTextArea" readonly="true"
              >{{activeCapture.description}}</ion-textarea
            >
          </ng-template>
        </ion-col>
      </ion-row>
      <!--Coordinates-->
      <ion-row class="containerRow">
        <ion-col>
          <ion-label style="font-style: bold">Lat:</ion-label>
        </ion-col>
        <ion-col style="text-align: left">
          {{activeCapture.latitude.substr(0,5)}}</ion-col
        >
        <ion-col>
          <ion-label style="font-style: bold">Long: </ion-label>
        </ion-col>
        <ion-col style="text-align: left"
          >{{activeCapture.longitude.substr(0,5)}}</ion-col
        >
        <ion-col size="4" style="text-align: right">
          <ion-icon
            name="map-outline"
            size="large"
            (click)="goToMap(activeCapture.idCapture)"
          ></ion-icon>
        </ion-col>
      </ion-row>
      <ion-row class="buttonsContainer" *ngIf="belongsToUser">
        <ion-col size="4">
          <ion-button class="detailButtonEdit" (click)="editCapture()"
            >Edit</ion-button
          >
        </ion-col>
        <ion-col size="4">
          <ion-button
            *ngIf="editable"
            class="detailButtonSave"
            (click)="saveActiveCapture()"
            >Save</ion-button
          >
        </ion-col>
        <ion-col size="4">
          <ion-icon
            name="trash-outline"
            class="detailButtonDelete"
            (click)="callConfirm(activeCapture.idCapture)"
            >Delete</ion-icon
          >
        </ion-col>
      </ion-row>
      <ion-row style="padding-bottom: 10%"></ion-row>
    </form>
  </ion-content>
</ion-app>
