.active-item {
  border-left: 8px solid var(--ion-color-medium);
}

ion-toggle {
  --background: var(--ion-color-medium);
  --background-checked: var(--ion-color-secondary);

  --handle-background: var(--ion-color-tertiary);
  --handle-background-checked: var(--ion-color-tertiary);
}

ion-content {
  --background: var(--ion-color-content);
}
