<ion-app>
  <ion-split-pane contentId="content">
    <!--Side menu zone-->
    <ion-menu contentId="content">
      <ion-header>
        <ion-toolbar style="padding: 2% 2% 5% 5%; height: 56px" color="primary">
          <ion-avatar slot="start" *ngIf="!userLogged.avatarURL">
            <img
              style="height: 70%; width: 70%; vertical-align: middle"
              src="../../../../assets/img/avatar_default.png"
            />
          </ion-avatar>
          <ion-avatar slot="start" *ngIf="userLogged.avatarURL">
            <img
              style="height: 70%; width: 70%; vertical-align: middle"
              src="{{userLogged.avatarURL}}"
            />
          </ion-avatar>
          <ion-title style="vertical-align: middle; padding: 0% 2% 10% 2%"
            >{{'menu.toolbar' | translate}} {{userLogged.username}}</ion-title
          >
        </ion-toolbar>
      </ion-header>

      <!--List of items inside sidemenu-->
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
            <ion-item
              routerDirection="root"
              [routerLink]="p.url"
              [class.active-item]="selectedPath.startsWith(p.url)"
              lines="full"
            >
              {{p.title}}
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
            </ion-item>
          </ion-menu-toggle>

          <ion-item
            lines="full"
            tappable
            (click)="logout()"
            routerDirection="root"
          >
            <ion-icon name="log-out" slot="start"> </ion-icon>{{'menu.logout' |
            translate}}</ion-item
          >
        </ion-list>
      </ion-content>
      <ion-item lines="full"></ion-item>
      <ion-item style="display: inline-flex; margin-left: 0px">
        <ion-item
          lines="none"
          style="text-align: left; font-size: small; width: 120px"
        >
          <ion-icon name="language-outline" size="small"></ion-icon>&nbsp;
          <ion-select [(ngModel)]="language" (ionChange)="languageChange()">
            <ion-select-option value="ca">Català</ion-select-option>
            <ion-select-option value="es">Español</ion-select-option>
            <ion-select-option value="en">English</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="none" style="text-align: right">
          <ion-icon name="sunny-outline" size="small"></ion-icon>&nbsp;/&nbsp;
          <ion-icon name="moon" size="small"></ion-icon>
          &nbsp;
          <ion-toggle
            [(ngModel)]="darkValue"
            [checked]="darkValue"
            (ionChange)="setTheme($event)"
          ></ion-toggle>
        </ion-item>
      </ion-item>
    </ion-menu>
    <!--Page content-->
    <ion-router-outlet id="content" main> </ion-router-outlet>
  </ion-split-pane>
  <!--Fab button-->
  <ion-fab
    vertical="bottom"
    horizontal="center"
    slot="fixed"
    style="padding-bottom: 15%"
  >
    <ion-fab-button (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-app>
