<ion-app>
  <ion-split-pane contentId="content">
    <!--Side menu zone-->
    <ion-menu contentId="content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title class="menu-title">Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <!--List of items inside sidemenu-->
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
            <ion-item
              routerDirection="root"
              [routerLink]="p.url"
              [class.active-item]="selectedPath.startsWith(p.url)"
              lines="full"
            >
              {{p.title}}
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
            </ion-item>
          </ion-menu-toggle>

          <ion-item
            lines="full"
            tappable
            (click)="logout()"
            routerDirection="root"
          >
            <ion-icon name="log-out" slot="start"> </ion-icon>Logout</ion-item
          >
        </ion-list>
      </ion-content>
      <ion-list>
        <ion-item style="padding-bottom: 2%" lines="none">
          <ion-icon slot="start" name="moon"></ion-icon>
          <ion-label> Toggle Dark Theme </ion-label>
          <ion-toggle
            (ionChange)="onToggleColorTheme($event)"
            slot="end"
          ></ion-toggle>
        </ion-item>
      </ion-list>
    </ion-menu>
    <!--Page content-->
    <ion-router-outlet id="content" main></ion-router-outlet>
  </ion-split-pane>
  <ion-fab
    vertical="bottom"
    horizontal="center"
    slot="fixed"
    style="margin-bottom: 15%"
  >
    <ion-fab-button (click)="takePhoto()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-app>
