<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary">
    <ion-title class="header_title"
      ><p>{{'welcome.toolbar' | translate}}</p></ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-img class="bgr" src="/assets/img/barcelona_background.png"> </ion-img>
  </div>
  <div class="col">
    <div class="row" style="text-align: center; margin-top: 20%">
      <ion-button
        class="welcome_button"
        color="tertiary"
        routerLink="login"
        routerDirection="root"
        >{{'welcome.login' | translate}}</ion-button
      >
    </div>
    <div class="row" style="text-align: center; margin-top: 5%">
      <ion-button
        class="welcome_button"
        color="tertiary"
        size="medium"
        routerLink="registration"
        routerDirection="root"
        >{{'welcome.registration' | translate}}</ion-button
      >
    </div>
  </div>
</ion-content>
