.bgr {
  height: 100%;
  width: 100%;
  top: 0;
  position: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  object-fit: cover;
}
::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}

.ion-no-border {
  opacity: 80%;
}

.header_title {
  font-size: 20px;
}
.welcome_button {
  opacity: 80%;
}
