<ion-header>
  <ion-toolbar>
    <ion-title>Welcome page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button
    expand="block"
    style="
      margin-left: 40%;
      margin-right: 40%;
      margin-top: 20%;
      text-align: center;
    "
    routerLink="login"
    routerDirection="root"
    >Login</ion-button
  >
  <ion-button
    expand="block"
    style="
      margin-left: 40%;
      margin-right: 40%;
      margin-top: 5%;
      text-align: center;
    "
    routerLink="registration"
    routerDirection="root"
    >Registration</ion-button
  >
</ion-content>
