<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="header_title"><p>Welcome page</p></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-img class="bgr" src="/assets/img/barcelona_background.png"> </ion-img>
  </div>
  <div class="col">
    <div class="row" style="text-align: center; margin-top: 20%">
      <ion-button
        class="welcome_button"
        size="medium"
        color="secondary"
        routerLink="login"
        routerDirection="root"
        >Login</ion-button
      >
    </div>
    <div class="row" style="text-align: center; margin-top: 5%">
      <ion-button
        class="welcome_button"
        color="secondary"
        size="medium"
        routerLink="registration"
        routerDirection="root"
        >Registration</ion-button
      >
    </div>
  </div>
</ion-content>
