<ion-app>
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Login Page</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <ion-item class="form_item" lines="full">
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email" required></ion-input>
      </ion-item>

      <ion-item class="form_item" lines="full">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          type="password"
          formControlName="password"
          required
        ></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button
            color="tertiary"
            class="login_button"
            size="medium"
            expand="block"
            type="submit"
            >Entrar</ion-button
          >
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            color="primary"
            class="testing_button"
            size="medium"
            expand="block"
            (click)="testingAccess()"
            >Test Marta</ion-button
          >
        </ion-col>
      </ion-row>
    </form>
  </ion-content>
</ion-app>
