.login_button {
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 10%;
}

.form_item {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  background-color: "primary";
}

.testing_button {
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 5%;
}
