<ion-app>
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>{{'list.toolbar' | translate}}</ion-title>
      <ion-img
        slot="end"
        style="height: 40px; width: 40px; margin: 0% 3% 0% 0%"
        src="assets/icon/icon.png"
      ></ion-img>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-row style="margin: 2% 2% 0% 2%; padding: 2%">
      <ion-col size="9" style="text-align: right">
        <div style="margin: 8px 0px 8px 0px">
          <ion-icon name="person-outline"></ion-icon> /
          <ion-icon name="people-outline"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="3" style="text-align: left">
        <div style="margin: 0px 0px 0px 0px">
          <ion-toggle
            color="dark"
            [checked]="showAllCaptures"
            (ionChange)="changeDisplayMode($event)"
            disabled="false"
          ></ion-toggle>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col
        sizeLg="4"
        sizeMd="4"
        sizeXs="6"
        *ngFor="let c of capturesToShow"
        color="primary"
      >
        <ion-card class="favCard">
          <ion-img
            src="{{c.imageUrl}}"
            (click)="goToDetail(c.imageUrl,c.idCapture)"
            style="height: 50%; object-fit: cover"
          ></ion-img>
          <!--overlay in image-->
          <div class="myOverlay">
            <!--show if public or not-->
            <div class="card-public">
              <div *ngIf="c.publicState; else elseBlock">
                <ion-icon name="eye-outline"></ion-icon>
              </div>
              <ng-template #elseBlock
                ><ion-icon name="eye-off-outline"></ion-icon
              ></ng-template>
            </div>
            <!--show author-->
            <div class="card-author">{{getUsername(c.uid)}}</div>
          </div>
          <!--end overlay-->
          <!--Title-->
          <ion-card-header>
            <ion-card-title>
              <ion-row>
                <ion-col size="10"> {{c.name}}</ion-col>
                <ion-col size="2"
                  ><div *ngIf="c.dislikeChecked; else notCheckedBlock">
                    <ion-img
                      src="/assets/icon/dislike_black.png"
                      (click)="checkDislike(c.idCapture)"
                      style="max-height: 25px; max-width: 25px"
                    ></ion-img>
                  </div>
                  <ng-template #notCheckedBlock>
                    <ion-img
                      src="/assets/icon/dislike_white.png"
                      (click)="checkDislike(c.idCapture)"
                      style="max-height: 25px; max-width: 25px"
                    ></ion-img
                  ></ng-template>
                </ion-col>
              </ion-row>
            </ion-card-title>
          </ion-card-header>
          <!--Content-->
          <ion-card-content>
            <ion-card-subtitle
              >{{c.description.substr(0,55)}}</ion-card-subtitle
            >
            <ion-badge class="detailBadge" color="dark">{{c.votes}}</ion-badge>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-app>
