<ion-app>
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>List Page</ion-title>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="list">
        <ion-icon name="sunny"></ion-icon>
        <ion-label>List</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="map">
        <ion-icon name="moon"></ion-icon>
        <ion-label>Map</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-content>
    <ion-row>
      <ion-col
        sizeLg="4"
        sizeMd="4"
        sizeXs="6"
        *ngFor="let c of listOfCaptures"
        color="primary"
      >
        <ion-card class="favCard">
          <ion-img class="center" src="assets/img/basic.png"></ion-img>
          <!--overlay in image-->
          <div class="myOverlay" style="display: flex">
            <!--show if public or not-->
            <div class="card-public">
              <div *ngIf="c.public; else elseBlock">
                <ion-icon name="eye-outline"></ion-icon>
              </div>
              <ng-template #elseBlock
                ><ion-icon name="eye-off-outline"></ion-icon
              ></ng-template>
            </div>
            <!--show author-->
            <div class="card-author">{{c.author}}</div>
          </div>
          <!--end overlay-->
          <!--Title-->
          <ion-card-title> {{c.name}} </ion-card-title>
          <!--Content-->
          <ion-card-content>
            <ion-item lines="none"
              ><ion-card-subtitle
                >{{c.description}}</ion-card-subtitle
              ></ion-item
            >
            <ion-item lines="none">
              <ion-progress-bar
                value="0.5"
                style="width: 50%"
              ></ion-progress-bar
            ></ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-content>
</ion-app>
